* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.header {
    background: #fff8f3;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font: size 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

.text-primary {
    color: orange
}

.btn-primary {
    height: 64px;
    border-radius: 5px;
    background-color: orange;
    color: white;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
}

.banner {
    margin: 0 200px;
    display: flex;
    align-items: center;
}

.banner-sub-title {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 20px;
}

.author-name {
    font-weight: 700;
    font-size: 70px;
}

.banner-discription {
    color: blue;
    font: size 18px;
    margin-bottom: 30px;
    margin-top: 10px;
}

/* main section */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section style */
.about {
    margin-top: 130px;
    background: #fff8f3;
    border-radius: 10px;
    padding: 130px 150px;
}

.section-title {
    text-align: center;
    margin-bottom: 30px;
}

.section-description {
    color: #757575;
    font-size: 18px;
}